[model]
arch = "vanilla"
tokenizer = "trained/tokenizer.json"
max_len = 1024

[model.hparams]
n_layers = 6
d_model = 512
n_heads = 8
d_ff = 2048
dropout = 0.1

[train]
total_steps = 10000
batch_size = 128
grad_accum_steps = 8
max_grad_norm = 1.0
log_interval = 100
eval_interval = 1000
wandb_project = "transformers-scratch"

[train.optimizer]
warmup_ratio = 0.01

[train.optimizer.muon]
lr = 1e-3
weight_decay = 0.1

[train.optimizer.adam]
lr = 1e-3
weight_decay = 0.1
betas = [0.9, 0.95]
